@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700");
.running {
  animation-play-state: running !important;
}

.animated {
  animation-fill-mode: both;
}

.dslc-in-viewport-anim-bounce_special.dslc-in-viewport {
  animation-timing-function: ease !important;
  opacity: 0;
  transform-origin: 50% 100%;
}

@keyframes bounce_special {
  0% {
    opacity: 0;
    transform: translateY(0%) scaleY(0.6);
  }
  60% {
    transform: translateY(-100%) scaleY(1.1);
  }
  70% {
    transform: translateY(0%) scaleY(0.95) scaleX(1.05);
  }
  80% {
    transform: translateY(0%) scaleY(1.05) scaleX(1);
  }
  90% {
    transform: translateY(0%) scaleY(0.95) scaleX(1);
  }
  100% {
    opacity: 1;
    transform: translateY(0%) scaleY(1) scaleX(1);
  }
}

.et-in-viewport-pulse_special {
  animation-iteration-count: infinite !important;
}

@keyframes pulse_special {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }
  50% {
    ransform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.7;
  }
}

.et-in-viewport-floating_special {
  animation-iteration-count: infinite !important;
  opacity: 1 !important;
}

@keyframes floating_special {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

svg.line-svg {
  margin-top: -30px;
}

svg.line-svg line {
  stroke-dasharray: 0 50;
}

svg.line-svg.start-paint line {
  stroke-dasharray: 50 0;
  animation-fill-mode: forwards;
  animation: left-paint-line-svg 5s cubic-bezier(0, 0.5, 0.17, 1) 1;
}

@keyframes left-paint-line-svg {
  from {
    stroke-dasharray: 0 50;
  }
  to {
    stroke-dasharray: 50 0;
  }
}

@keyframes dash {
  from {
    stroke-dasharray: 0 19;
  }
  to {
    stroke-dasharray: 19 0;
  }
}

@keyframes dash-polyline {
  from {
    stroke-dasharray: 0 52;
  }
  to {
    stroke-dasharray: 52 0;
  }
}

.uppercase {
  text-transform: uppercase;
}

.color-main {
  color: #00a6d9;
}

.bold {
  font-weight: 700 !important;
}

.semi {
  font-weight: 600 !important;
}

.normal {
  font-weight: 400 !important;
}

.light {
  font-weight: 300 !important;
}

.color-blue {
  color: #00a6d9 !important;
}

.color-white {
  color: white !important;
}

.color-near-white {
  color: #f0f0f0 !important;
}

.color-charcoal {
  color: #323232 !important;
}

.background-blue {
  background-color: #00a6d9 !important;
}

.background-charcoal {
  background-color: #323232 !important;
}

.background-near-white {
  background-color: #f0f0f0 !important;
}

.background-dark-grey {
  background-color: #4d4d4d !important;
}

.margin-2em {
  margin: 2em auto;
}

.margin-3em {
  margin: 3em auto;
}

.margin-4em {
  margin: 4em auto;
}

.svg-white path,
.svg-white g,
.svg-white polygon {
  fill: white;
}

.svg-charcoal path,
.svg-charcoal g,
.svg-charcoal polygon {
  fill: #323232;
}

.svg-blue path,
.svg-blue g,
.svg-blue polygon {
  fill: #00a6d9;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.list-style-none {
  list-style: none;
  padding-left: 0;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.hide {
  display: none;
}

@media (max-width: 30em) {
  .hide-for-small {
    display: none;
  }
}

@media (min-width: 30em) {
  .show-for-small {
    display: none;
  }
}

@media (max-width: 40em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 40em) {
  .show-for-mobile {
    display: none;
  }
}

@media (max-width: 40em) {
  .show-for-mobile-only {
    display: none;
  }
}

@media (min-width: 50em) {
  .show-for-mobile-only {
    display: none;
  }
}

@media (max-width: 50em) {
  .show-for-tablet-only {
    display: none;
  }
}

@media (min-width: 75em) {
  .show-for-tablet-only {
    display: none;
  }
}

@media (max-width: 75em) {
  .show-for-large {
    display: none;
  }
}

@media (min-width: 75em) {
  .hide-for-large {
    display: none;
  }
}

@media screen and (orientation: portrait) {
  .show-for-landscape {
    display: none;
  }
}

@media screen and (orientation: landscape) {
  .show-for-portrait {
    display: none;
  }
}

@media (min-height: 30em) {
  .show-for-short {
    display: none;
  }
}

@media (max-height: 30em) {
  .show-for-tall {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

html {
  height: auto;
}

body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  overflow: scroll;
  -webkit-backface-visibility: hidden;
}

hr {
  background: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1em 0;
}

p {
  margin-bottom: 1.25em;
}

p:last-child {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1em 1em;
}

b,
strong {
  font-weight: bold;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1em;
}

address {
  margin: 0 0 1em;
}

pre {
  font: 1.5rem/1.6 "Courier 10 Pitch", Courier, monospace;
  background: #eee;
  margin-bottom: 1.2em;
  max-width: 100%;
  overflow: auto;
  padding: 1.2em;
}

code,
kbd,
tt,
var {
  font: 1.5rem Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

figure {
  margin: 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
  border-collapse: collapse !important;
}

th {
  font-weight: bold;
}

img {
  height: auto;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a,
a:focus,
a:hover {
  color: #00a6d9;
  text-decoration: none;
}

table {
  border: 1px solid #e0e0e0;
  border-spacing: 0;
  margin: 0 0 20px 0;
  width: 100%;
}

table caption {
  font-weight: bold;
  margin-bottom: 10px;
}

td {
  text-align: center;
  border: 1px solid #e0e0e0;
  padding: 5px;
}

th {
  background: #fff;
  padding: 5px;
  text-align: center;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.clear {
  clear: both;
}

embed,
iframe,
object {
  max-width: 100%;
}

svg {
  pointer-events: none;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.line-drawing,
.illustration {
  transition: opacity 0.5s;
}

.line-drawing path {
  fill: none;
  stroke: white;
  stroke-width: 3;
}

path.line-round {
  stroke-linecap: round;
}

path.stroke-medium {
  stroke-width: 2;
}

path.stroke-thin {
  stroke-width: 1;
}

.clearfix {
  clear: both;
}

.noscroll {
  overflow: hidden;
}

ol,
ul {
  margin-bottom: 0;
  padding-left: 0;
}

.og {
  max-width: 80rem;
  margin: 0 auto;
}

.og-grid {
  list-style: none;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.og-grid li {
  display: inline-block;
  margin: 1em;
  vertical-align: top;
  height: 400px;
  width: 400px;
}

@media (max-width: 40em) {
  .og-grid li {
    width: calc(100% - 2em);
    height: auto !important;
  }
}

@media (max-width: 75em) {
  .og-grid li:nth-of-type(n+15) {
    display: none;
  }
}

.og-grid li > a,
.og-grid li a img {
  border: none;
  outline: none;
  display: block;
  position: relative;
}

.og-grid li.og-expanded > a::after {
  top: auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #ddd;
  border-width: 15px;
  left: 50%;
  margin: -20px 0 0 -15px;
}

.og-grid .og-expander {
  position: absolute;
  background: #ddd;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  height: 0;
  overflow: hidden;
  z-index: 1;
}

.og-grid .og-expander-inner {
  padding: 50px 30px;
  height: 100%;
}

@media (max-width: 40em) {
  .og-grid .og-expander-inner {
    padding: 3em;
  }
}

.og-grid .og-close {
  position: absolute;
  width: 3em;
  height: 3em;
  top: 1em;
  right: 1em;
  cursor: pointer;
  z-index: 9;
}

.og-grid .og-close::before, .og-grid .og-close::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  height: 1px;
  background: #888;
  transform: rotate(45deg);
}

.og-grid .og-close::after {
  transform: rotate(-45deg);
}

.og-grid .og-close:hover::before, .og-grid .og-close:hover::after {
  background: #333;
}

.og-grid .og-fullimg,
.og-grid .og-details {
  width: 50%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.og-grid .og-fullimg > *,
.og-grid .og-details > * {
  text-align: left;
}

.og-grid .og-fullimg {
  text-align: center;
}

@media (max-width: 40em) {
  .og-grid .og-fullimg {
    display: none;
  }
}

.og-grid .og-fullimg img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}

.og-grid .og-details {
  padding: 0 40px 0 20px;
}

@media (max-width: 40em) {
  .og-grid .og-details {
    float: none;
    width: 100%;
    padding: 0;
  }
}

.og-grid .og-details > * {
  max-width: 40rem;
}

.og-grid .og-details h3 {
  font-weight: 300;
  font-size: 3em;
  padding: 0 0 10px;
  margin: 0;
}

@media (max-width: 40em) {
  .og-grid .og-details h3 {
    padding: 0;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: .5em;
  }
}

.og-grid .og-details p {
  font-weight: 400;
  font-size: 1.6em;
  color: #4d4d4d;
  margin: 0;
  margin-bottom: 1em;
}

@media (max-width: 40em) {
  .og-grid .og-details p {
    padding: 0;
    font-size: 1.2em;
  }
}

.og-grid .og-details a {
  display: inline-block;
  outline: none;
}

.og-grid .og-loading {
  width: 250px;
  height: 250px;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/138941/throbber.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  left: calc(50% - 125px);
  top: calc(50% - 125px);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #323232;
  margin: 0;
  text-align: center;
  line-height: 1.4;
}

h1 {
  font-weight: 700;
  font-size: 3em;
  text-transform: uppercase;
  margin: 1em auto;
  letter-spacing: .1em;
}

@media (min-width: 40em) {
  h1 {
    font-size: 3.2em;
  }
}

h2 {
  font-weight: 700;
  font-size: 2.4em;
  margin: 1em auto;
  letter-spacing: .05em;
}

@media (min-width: 40em) {
  h2 {
    font-size: 2.6em;
  }
}

h3 {
  font-weight: 600;
  font-size: 2em;
  margin: .75em auto;
  letter-spacing: .05em;
}

@media (min-width: 40em) {
  h3 {
    font-size: 2.2em;
  }
}

h4 {
  font-weight: 400;
  font-size: 1.8em;
  margin: .75em auto;
}

@media (min-width: 40em) {
  h4 {
    font-size: 2em;
  }
}

h5 {
  font-weight: 300;
  font-size: 1.6em;
  margin: .25em auto;
}

h6 {
  font-weight: 600;
  font-size: 1.2em;
  margin: 0 auto;
}

p {
  font-weight: 400;
  font-size: 1em;
  margin: 1em auto;
  line-height: 1.2;
}

.link {
  color: #00a6d9;
  text-decoration: underline;
}

a.flex__item {
  text-decoration: none;
}

.tagline,
.description {
  color: rgba(50, 50, 50, 0.8);
}

.button {
  font-size: 1rem;
  background-color: transparent;
  text-align: center !important;
  margin: 1em auto;
  display: block;
  padding: .5em;
  border: 2px solid #00a6d9;
  color: #00a6d9;
  width: 10em;
  border-radius: 3em;
  text-transform: uppercase;
  transition: all .3s ease;
}

.button:hover, .button:focus {
  color: #0098cb;
  border-color: #0098cb;
  background-color: #ebebeb;
}

.button--primary {
  border: 0;
  color: white;
  background-color: #00a6d9;
}

.button--primary:hover, .button--primary:focus {
  background-color: #0098cb;
  color: #f0f0f0;
}

.button--white {
  border-color: white;
  color: white;
}

.button--white:hover, .button--white:focus {
  background-color: #0098cb;
  border-color: #f0f0f0;
  color: #f0f0f0;
}

.button--charcoal {
  border-color: #323232;
  color: #323232;
}

.button--charcoal:hover, .button--charcoal:focus {
  background-color: rgba(20, 20, 20, 0.75);
  border-color: rgba(20, 20, 20, 0.75);
  color: #fafafa;
}

.form-container {
  width: 100%;
  margin: 0 auto;
  background: white;
  padding: 0;
  text-align: center;
}

form {
  text-align: left;
  font-size: 160%;
  margin: auto;
  align-self: center;
}

.group {
  position: relative;
  margin-bottom: 2em;
}

input {
  font-size: 1em;
  padding: 1em 1em .25em 1em;
  display: block;
  width: 18em;
  border: none;
  border-bottom: 1px solid #323232;
}

input:focus {
  outline: none;
}

label {
  color: #323232;
  font-size: 1em;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: .5em;
  top: 1em;
  transition: 0.2s ease all;
}

input:focus ~ label,
input:valid ~ label {
  top: -1em;
  font-size: .75em;
}

input:focus ~ label {
  color: #00a6d9;
}

.bar {
  position: relative;
  display: block;
  width: 18em;
}

.bar:before, .bar:after {
  content: '';
  height: 3px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #00a6d9;
  transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 16em;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

.group--select label {
  position: static;
  display: block;
  margin-bottom: .5em;
}

.group--select select {
  vertical-align: text-bottom;
  height: 35px;
  width: 100%;
  padding: .5em 1.5em .5em .5em;
  border-radius: 0 !important;
  border: 2px solid #888;
  outline: 0;
  background-color: #f0f0f0;
}

.group--select select:focus {
  border-color: #00a6d9;
  outline: 0;
}

@keyframes inputHighlighter {
  from {
    background: #00a6d9;
  }
  to {
    width: 0;
    background: transparent;
  }
}

form button {
  position: relative;
  display: inline-block;
  padding: .5em 1em;
  margin: .3em 0 1em 0;
  width: 100%;
  max-width: 18rem;
  vertical-align: middle;
  color: white;
  font-size: 1em;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: .02em;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #0098cb;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #00a6d9;
  text-transform: uppercase;
}

form button:focus {
  outline: 0;
}

form button:hover, form button:focus {
  background: #0098cb;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 2em 5%;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#header.sticky {
  background: #f0f0f0;
  padding: 1em 5%;
  top: 0;
}

#header-wrapper {
  background: #f0f0f0;
}

body:not(.home) #header {
  background: rgba(255, 255, 255, 0.9);
}

.wrapper-logo {
  display: block;
  margin: auto;
}

.main-menu {
  margin: auto;
}

#logo-sa {
  width: 30px;
}

header.grey-bg svg#logo-sa polygon.sa-top,
header.sticky svg#logo-sa polygon.sa-top,
.wrapper-logo.blue svg#logo-sa polygon.sa-top,
body:not(.home) .wrapper-logo svg#logo-sa polygon.sa-top {
  fill: #00a6d9;
}

header.grey-bg svg#logo-sa polygon.sa-bottom,
header.sticky svg#logo-sa polygon.sa-bottom,
.wrapper-logo.blue svg#logo-sa polygon.sa-bottom,
body:not(.home) .wrapper-logo svg#logo-sa polygon.sa-bottom {
  fill: #323232;
}

.sub-main-nav {
  border-bottom: 0;
  margin: 0;
  position: fixed;
  right: 0;
  height: 100%;
  top: 0;
  width: 50%;
  background: #2c3e50;
  font-size: 1.25em;
  z-index: 25;
  transition: all 0.5s cubic-bezier(0, 0.5, 0.17, 1);
  clear: both;
  padding: 30px 40px;
  transform: translateX(100%);
}

.sub-width {
  transform: translateX(0);
}

.list-theme-submenu {
  margin-top: 50px;
}

.list-theme-submenu li {
  display: inline-block;
  width: 30%;
  height: auto;
  margin-right: 20px;
  margin-bottom: 20px;
}

.list-theme-submenu li:nth-child(3n) {
  margin-right: 0;
}

.effect-hover-smooth {
  background-clip: padding-box;
  background: none;
  overflow: hidden;
  position: relative;
  z-index: 2;
  border: 3px solid transparent;
}

.effect-hover-smooth > figcaption,
.effect-hover-smooth > figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.effect-hover-smooth > figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.effect-hover-smooth > figcaption p {
  position: absolute;
  bottom: 3px;
  width: 100%;
  margin: 0;
  color: #37474f;
  font-size: 14px;
  font-weight: 600;
  padding: 0 10px;
  text-transform: none;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: translateY(50px);
}

.effect-hover-smooth > figcaption::before,
.effect-hover-smooth > figcaption::after {
  pointer-events: none;
}

.effect-hover-smooth > figcaption p span.count-download {
  color: #eb5155;
  float: right;
}

.effect-hover-smooth > figcaption p span.count-download i {
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
}

.effect-hover-smooth:hover {
  border: 3px solid #eb5256;
  border-radius: 3px;
  background: #fff;
}

.effect-hover-smooth img {
  transition: transform 0.35s;
  backface-visibility: hidden;
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.effect-hover-smooth:hover > img {
  transform: translateY(-30px);
  border-radius: 0;
}

.effect-hover-smooth:hover p {
  opacity: 1;
  transform: translateY(0);
}

.sub-main-nav .main-menu {
  text-align: left;
}

.sub-main-nav .main-menu ul li {
  margin-left: 0;
  margin-right: 35px;
  vertical-align: middle;
}

.sub-main-nav .main-menu ul li a {
  color: white;
}

.sub-main-nav .main-menu ul li:before {
  background: white;
}

.sub-main-nav .main-menu ul li:first-child:after {
  color: white;
}

.main-menu {
  display: block;
  width: 100%;
  text-align: right;
}

.main-menu ul {
  display: inline-block;
  margin: auto;
}

.main-menu ul li {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin: 0 1em;
}

.main-menu ul li a {
  color: #323232;
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.main-menu ul li:before {
  content: '';
  width: 0;
  height: 2px;
  background: #323232;
  bottom: 0;
  transition: all 0.5s cubic-bezier(0, 0.5, 0.17, 1);
  position: absolute;
}

.main-menu ul li:hover:before {
  width: 100%;
}

.hire-link {
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 1.4em;
  background-clip: padding-box;
  background-color: #323232;
  text-transform: uppercase;
  display: inline-block;
  padding: .5em 1.5em;
  letter-spacing: .02em;
  margin-left: 2em;
  vertical-align: middle;
  transition: all 0.3s ease-in-out;
}

.hire-link:hover, .hire-link:active {
  color: #f0f0f0;
  background-color: rgba(50, 50, 50, 0.8);
}

.hire-link.footer-link {
  background-color: white;
  color: #00a6d9;
}

.hire-link.footer-link:hover, .hire-link.footer-link:active {
  color: #0098cb;
  background-color: #f0f0f0;
}

.hamburglar {
  transform: scale(1);
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 40px;
  -webkit-touch-callout: none;
  user-select: none;
  top: -13px;
  cursor: pointer;
  display: none;
}

#top,
#bottom {
  position: absolute;
  display: block;
  height: 4px;
  width: 31px;
  border-radius: 2px;
  background: #323232;
}

#top {
  top: 18px;
  left: 12px;
}

#bottom {
  top: 32px;
  left: 12px;
}

.hamburglar path,
.hamburglar line {
  stroke: #323232;
  stroke-linecap: round;
}

#top,
#bottom {
  transform-origin: 27px 2px;
  transform: rotate(0deg);
  transition: all 500ms cubic-bezier(0.8, -1.1, 0.5, 1.9);
}

#circle {
  stroke-dasharray: 1 100 32 300;
  stroke-dashoffset: 101;
  transition: all 750ms ease;
}

.hamburglar.is-closed #circle {
  stroke-dasharray: 1 100 190 300;
  stroke-dashoffset: 1;
}

.hamburglar.is-closed #top {
  transform: translateX(-4.5px) rotate(-45deg);
}

.hamburglar.is-closed #bottom {
  transform: translateX(-4.5px) rotate(45deg);
  top: 34px;
}

.oc-menu {
  background: #f0f0f0;
  position: fixed;
}

.oc-menu h3 {
  color: #323232;
  font-size: 1.4em;
  padding: 0;
  margin: 0;
  font-weight: 300;
  background: #ebebeb;
}

.oc-menu a {
  display: block;
  color: #323232;
  font-size: 1.2em;
  font-weight: 300;
}

.oc-menu a:hover,
.oc-menu a:active {
  background: #00a6d9;
}

.oc-menu-vertical {
  width: 160px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.oc-menu-vertical ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.oc-menu-vertical a {
  border-bottom: 1px solid #ebebeb;
  padding: 1rem;
}

.oc-menu-left {
  left: -160px;
}

.oc-menu-right {
  right: -160px;
}

.oc-menu-left.oc-menu-open {
  left: 0;
}

.oc-menu-right.oc-menu-open {
  right: 0;
}

.oc-menu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.oc-menu-push-toright {
  left: 160px;
}

.oc-menu-push-toleft {
  left: -160px;
}

.oc-menu,
.oc-menu-push {
  transition: all 0.7s cubic-bezier(0, 0.5, 0.17, 1);
}

@media (max-width: 1170px) {
  .main-menu ul li {
    margin-left: 25px;
  }
}

@media (max-width: 1024px) {
  .sub-title-top-bar {
    font-size: 20px;
  }
  .title-top-bar {
    font-size: 30px;
  }
}

@media (max-width: 992px) {
  .hamburglar {
    display: inline-block;
    margin-left: 20px;
  }
  .main-menu ul {
    display: none;
  }
}

.section-bg {
  position: relative;
  display: block;
}

footer {
  background-color: #00a6d9;
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 0;
  padding: 2em 4em;
  position: relative;
}

@media (max-width: 50em) {
  footer {
    display: block;
    padding-bottom: 14em;
  }
}

footer nav ul li {
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 50em) {
  footer nav ul li {
    display: block;
    text-align: center;
  }
}

footer nav ul li a {
  color: white;
  font-size: 1.4em;
  text-transform: uppercase;
  margin: 0 .5em;
  transition: all .3s ease;
}

footer nav ul li a:hover, footer nav ul li a:active {
  color: #fafafa;
}

@media (max-width: 50em) {
  footer nav ul li a {
    display: block;
    margin: 0 auto;
    padding: .5em 1em;
  }
  footer nav ul li a:hover, footer nav ul li a:active {
    background-color: #0098cb;
  }
}

@media (max-width: 50em) {
  footer nav ul li .hire-link {
    margin-left: 0;
    margin: .5em auto;
  }
}

footer .copyright {
  color: white;
  font-size: 1.2em;
  line-height: 3.2em;
  vertical-align: middle;
}

@media (max-width: 50em) {
  footer .copyright {
    text-align: center;
    margin: 1em auto;
  }
}

footer .copyright .chop {
  width: 2em;
  height: 2em;
  display: inline-block;
  vertical-align: middle;
}

footer .copyright span {
  vertical-align: middle;
}

footer .scrollToTop {
  position: absolute;
  right: 1em;
  top: calc(50% - 15px);
}

footer .scrollToTop .arrow-svg {
  width: 28px;
  height: 30px;
}

.banner--video {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

@media (max-width: 40em) {
  .banner--video {
    max-height: 800px;
  }
}

.banner--video.art-vid {
  background-image: url("//spacecaseartist.com/assets/vids/quasar-poster.png");
  background-position: center;
  background-size: cover;
}

.banner--video.projects-vid {
  background-image: url("//spacecaseartist.com/assets/vids/posters/bkgd-vid-poster.png");
  background-position: center;
  background-size: cover;
}

@media (max-width: 50em) {
  .banner--video {
    height: 40vh;
    min-height: 380px;
  }
}

.banner--video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
}

@media (max-width: 50em) {
  .banner--video video {
    display: none;
  }
}

.banner--video::before {
  position: absolute;
  content: '';
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.75);
}

.intro {
  text-align: center;
  padding: 5em 3vw;
}

.intro > * {
  max-width: 50rem;
  margin: .5em auto;
}

.intro--home h1 {
  color: #00a6d9;
}

.intro--projects, .intro--hire {
  text-align: center;
  color: white;
  background-color: #00a6d9;
}

.intro--projects > *, .intro--hire > * {
  color: white;
}

.intro--art {
  text-align: center;
  color: white;
  background-color: #323232;
}

.intro--art > * {
  color: white;
}

.message {
  margin: 0 auto;
  width: 100%;
  display: block;
  padding: 2em 3vw;
}

.message--blue {
  background-color: #00a6d9;
}

.message--blue * {
  color: white;
}

.message--charcoal {
  background-color: #323232;
}

.message--charcoal * {
  color: white;
}

.et-in-viewport-check {
  opacity: 0;
}

#before-after {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  z-index: 1;
}

@media (max-width: 40em) {
  #before-after {
    max-height: 800px;
  }
}

#before-after img {
  max-width: 320px;
}

.view {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.view-before {
  z-index: 100;
  background: #f0f0f0;
}

.view-after {
  z-index: 200;
  background: #00a6d9;
}

#dragme {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #00a6d9;
  cursor: pointer;
  z-index: 300;
  transform: translate3d(0px, 0px, 0px);
  cursor: move;
  user-select: none;
  touch-action: none;
}

#dragme .icon-drag {
  width: 30px;
  height: 30px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/138941/drag-icon.svg") no-repeat center center;
  display: block;
  position: absolute;
  top: calc(50% + 1.6rem);
  left: -15px;
}

.wrapper-after,
.wrapper-before {
  position: relative;
  height: 100%;
}

.wrapper-after .img-sa-wrapper,
.wrapper-before .img-sa-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  margin-top: -120px;
  z-index: 9;
}

.img-sa-wrapper {
  width: 330px;
  height: 330px;
  display: block;
}

.img-sa-wrapper img {
  width: 100%;
  height: auto;
}

.tooltip-item {
  width: 20px;
  height: 20px;
  margin: -15px 0 0 -15px;
  position: absolute;
  border-radius: 50%;
  border: 2px solid;
  animation: pulse-item 0.6s infinite alternate;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@keyframes pulse-item {
  from {
    transform: scale3d(0.5, 0.5, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.wrapper-after .tooltip-item {
  border-color: white;
}

.wrapper-after .tooltip-item:hover {
  background: white;
}

.wrapper-before .tooltip-item {
  border-color: #00a6d9;
}

.wrapper-before .tooltip-item:hover {
  background: #00a6d9;
}

.wrapper-after .tooltip-item.tooltip-item-1,
.wrapper-before .tooltip-item.tooltip-item-1 {
  left: 81px;
  top: 6px;
}

.wrapper-after .tooltip-item.tooltip-item-2,
.wrapper-before .tooltip-item.tooltip-item-2 {
  left: 135px;
  top: 101px;
}

.wrapper-after .tooltip-item.tooltip-item-3,
.wrapper-before .tooltip-item.tooltip-item-3 {
  right: 155px;
  bottom: 35px;
}

.wrapper-after .tooltip-item.tooltip-item-4,
.wrapper-before .tooltip-item.tooltip-item-4 {
  right: 60px;
  bottom: 3px;
}

.content-before-after {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: calc(50% - 100px);
  display: flex;
  align-content: center;
  justify-content: space-between;
}

@media (max-width: 40em) {
  .content-before-after {
    display: none;
  }
}

.content-before-after .content-right {
  width: 50%;
  text-align: center;
}

.content-before-after .content-right h3 {
  color: #f0f0f0;
  font-size: 24px;
  margin: 0 0 1em;
}

.content-before-after.left-position .content-right h3 {
  color: #00a6d9;
}

.content-before-after .content-left {
  width: 50%;
  margin: auto;
  text-align: center;
}

.content-left ul {
  list-style-type: none;
  padding-left: 0;
}

.content-before-after.right-position .content-detail-wrapper h3 {
  color: white;
}

.content-before-after.right-position .content-detail-wrapper h3 span.color-main {
  color: #00a6d9;
}

.content-before-after .content-detail-wrapper .img-position {
  width: 80px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.content-before-after.right-position .content-detail-wrapper .img-position {
  border-color: white;
}

.content-before-after .content-detail-wrapper .img-position img,
.content-before-after .content-detail-wrapper .img-position svg {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.content-before-after .content-left ul li {
  display: none;
  position: absolute;
  top: 0;
  right: 10%;
}

.content-before-after .content-left ul li.active {
  display: block;
}

.wrapper-before .fs-fill {
  fill: #ee5a31;
}

.wrapper-before .ova-dark-fill {
  fill: #7491a3;
}

.wrapper-before .ova-light-fill {
  fill: #9eb1bc;
}

.wrapper-before .vive-dark {
  fill: #323232;
}

.wrapper-before .vive-blue {
  fill: #16abd3;
}

.wrapper-after .fs-fill {
  fill: white;
}

.wrapper-after .ova-dark-fill {
  fill: #323232;
}

.wrapper-after .ova-light-fill {
  fill: #4d4d4d;
}

.wrapper-after .vive-dark {
  fill: #323232;
}

.wrapper-after .vive-blue {
  fill: #323232;
}

@media (max-width: 75em) {
  .home .og-grid li:nth-of-type(n+7) {
    display: none;
  }
}

.skill-container .skills {
  max-width: 75rem;
  margin: 3em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill-container .skills .column {
  flex: 0 0 50%;
  min-height: 220px;
  min-width: 300px;
  margin: 0 auto;
}

@media (min-width: 50rem) {
  .skill-container .skills .column {
    flex: 0 0 33%;
    margin: auto;
  }
}

@media (max-width: 50rem) {
  .skill-container .skills .column:nth-of-type(even) {
    background-color: #f2f2f2;
  }
}

.skill-container .skills .skill {
  position: relative;
  display: flex;
}

.skill-container .skills .skill--content {
  position: relative;
  display: flex;
  flex: 0 0 100%;
  padding: 1em;
  margin: 0 auto;
  justify-content: space-between;
}

.skill-container .skills .skill--icon {
  flex: 0 0 2.6rem;
}

.skill-container .skills .skill--icon svg {
  max-width: 2.6rem;
  max-height: 2.6rem;
  margin-top: 1em;
}

.skill-container .skills .skill--icon svg * {
  fill: #333;
  opacity: 1;
}

.skill-container .skills .skill--info {
  flex: 0 0 calc(100% - 4rem);
  text-align: left;
}

.skill-container .skills .skill--info h4, .skill-container .skills .skill--info h5 {
  margin-bottom: 1.8em;
  text-align: left;
}

.skill-container .skills .skill--info p {
  line-height: 1.6;
  margin-bottom: 1em;
  text-align: left;
}

.skill-container .skills .skill--info ul.list-style-none {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.6;
  text-align: left;
}

.skill-container .skills .skill--info ul.list-style-none li {
  margin-bottom: 1em;
  font-size: 1.2em;
  font-weight: 300;
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

/* slide */
.cd-headline.slide span {
  /*   padding: 0; */
  display: inline;
  text-align: left;
}

.cd-headline.slide .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
  width: auto !important;
  display: inline-block;
  min-width: 6em !important;
}

.cd-headline.slide b {
  opacity: 0;
  top: .2em;
}

.cd-headline.slide b.is-visible {
  top: 0;
  opacity: 1;
  animation: slide-in 0.75s;
}

.cd-headline.slide b.is-hidden {
  animation: slide-out 0.75s;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  60% {
    opacity: 1;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  60% {
    opacity: 0;
    transform: translateY(-90%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.art .stamp {
  position: relative;
  z-index: 2;
  width: 50%;
  min-width: 280px;
  max-width: 560px;
  height: auto;
  margin: auto;
}

.art .stamp > * {
  fill: white;
  opacity: .9;
}

.projects .stamp {
  position: relative;
  z-index: 2;
  width: 30%;
  min-width: 120px;
  max-width: 300px;
  height: auto;
  margin: auto;
}

.projects .stamp > * {
  fill: white;
  opacity: .9;
}

.case {
  margin: 3em 0 0 0;
}

.case--study {
  margin: 5em 0;
  padding: 5em 5vw;
  text-align: center;
}

.case--study:nth-of-type(even) {
  background-color: #f0f0f0;
}

.case--study:last-of-type {
  margin-bottom: 0;
}

.case--icon {
  display: block;
  text-align: left;
}

@media (min-width: 50em) {
  .case--icon {
    display: inline-block;
    vertical-align: top;
  }
}

.case--icon img {
  width: 140px;
  margin: 0 100px 30px 0;
}

.case--content {
  width: 100%;
  text-align: left;
}

@media (min-width: 50em) {
  .case--content {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 250px);
    max-width: calc(75rem);
  }
}

.case--content h3 {
  text-align: left;
  margin: 0 auto;
}

.case--content p {
  font-size: 1.8em;
  text-align: left;
}

.case--content .button {
  margin: 1em auto;
}

@media (min-width: 50em) {
  .case--content .button {
    display: inline-block;
    margin: 2em 2em 2em 0;
  }
}

.case--images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

.case--images img {
  align-self: center;
}

.case--images.one-column img {
  width: 100%;
  margin-bottom: 1vh;
}

.case--images.two-column img {
  width: 48%;
  margin-bottom: 2vh;
}

@media (max-width: 50em) {
  .case--images.two-column img {
    width: 100%;
  }
}

.case--images.three-column img {
  width: 30%;
  margin-bottom: 1vh;
}

@media (max-width: 50em) {
  .case--images.three-column img {
    width: 100%;
    margin-bottom: 2vh;
  }
}

.case--images + h3 {
  margin-top: 5vh;
}

.hire {
  background-color: #fafafa;
}

@media (min-width: 50em) {
  .hire footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

#hire {
  padding-top: 90px;
}
